In [1]:
from glob import glob
import pandas as pd
import math

In [2]:
dirs = glob('HW4/*')
eng = glob('HW4/e/train/*.txt')
japa = glob('HW4/j/train/*.txt')
span = glob('HW4/s/train/*.txt')

In [3]:
alpha = 0.5
KL = 3

In [4]:
phat_e = (len(eng) + alpha) / (len(eng) + len(japa) + len(span) + KL * alpha)
phat_e

0.3333333333333333

In [5]:
phat_j = (len(japa) + alpha) / (len(eng) + len(japa) + len(span) + KL * alpha)
phat_j

0.3333333333333333

In [6]:
phat_s = (len(span) + alpha) / (len(eng) + len(japa) + len(span) + KL * alpha)
phat_s

0.3333333333333333

In [7]:
results_e = []
for i in range(len(eng)):
    tmp = ''
    with open(eng[i], 'r') as file:
        for row in file:
            row = row.replace('\n', '')
            tmp += row
    
    result={}
    for j in tmp:
        result[j] = tmp.count(j)
    result['space'] = result.pop(' ')
    
    results_e.append(result)

In [8]:
len(results_e)

10

In [9]:
results_j = []
for i in range(len(japa)):
    tmp = ''
    with open(japa[i], 'r') as file:
        for row in file:
            row = row.replace('\n', '')
            tmp += row
    
    result={}
    for j in tmp:
        result[j] = tmp.count(j)
    result['space'] = result.pop(' ')
    
    results_j.append(result)

In [10]:
len(results_j)

10

In [11]:
results_s = []
for i in range(len(span)):
    tmp = ''
    with open(span[i], 'r') as file:
        for row in file:
            row = row.replace('\n', '')
            tmp += row
    
    result={}
    for j in tmp:
        result[j] = tmp.count(j)
    result['space'] = result.pop(' ')
    
    results_s.append(result)

In [12]:
len(results_s)

10

In [13]:
letters = []
for i in range(len(results_e)):
    letters += list(results_e[i].keys())

In [14]:
DF_e = pd.DataFrame(index = set(letters)).sort_index()
for i in range(len(results_e)):
    DF_e = pd.concat([DF_e, pd.DataFrame(results_e[i], index=[i]).T.sort_index()], axis=1)
DF_e.fillna(0, inplace=True)
DF_e

           0    1      2      3      4      5      6      7      8    9
a      144.0  116   41.0   42.0   67.0   40.0   43.0  138.0   69.0  210
b       32.0   26    5.0   18.0    8.0    8.0    4.0   30.0    5.0   32
c       68.0   53   16.0   18.0   28.0   15.0    6.0   48.0   10.0   63
d       69.0   46   18.0   15.0   25.0   17.0   15.0   50.0   23.0   54
e      257.0  180  102.0  101.0  142.0   92.0   74.0  225.0  108.0  313
f       60.0   27   21.0   11.0   16.0   18.0   21.0   41.0   16.0   55
g       52.0   35   24.0   15.0   12.0   15.0   11.0   24.0    8.0   68
h      121.0   69   52.0   40.0   66.0   43.0   38.0  101.0   48.0  136
i      160.0  108   51.0   30.0   61.0   44.0   32.0  123.0   51.0  178
j        3.0    4    0.0    2.0    0.0    0.0    0.0    3.0    3.0    6
k       12.0    6    2.0    2.0    9.0    5.0    4.0    5.0    1.0   10
l       74.0   45   24.0   21.0   46.0   20.0   17.0   62.0   22.0  107
m       46.0   38   20.0   13.0   25.0   13.0   16.0   54.0   25.0   60
n      148.0  122   52.0   44.0   75.0   41.0   29.0  134.0   43.0  188
o      176.0  103   72.0   47.0   88.0   55.0   48.0  148.0   59.0  179
p       45.0   30   25.0   17.0   17.0   19.0   10.0   32.0   12.0   46
q        2.0    2    0.0    0.0    0.0    0.0    0.0    3.0    0.0    1
r      128.0   85   56.0   49.0   72.0   44.0   45.0  122.0   57.0  156
s      170.0  127   51.0   45.0   76.0   54.0   50.0  151.0   73.0  204
space  470.0  326  145.0  142.0  236.0  139.0  125.0  391.0  181.0  557
t      202.0  141   66.0   61.0  100.0   60.0   50.0  189.0   87.0  256
u       69.0   56   24.0   19.0   38.0   14.0   16.0   59.0   27.0   81
v       19.0   14   10.0   10.0   13.0    6.0    7.0   24.0    6.0   31
w       36.0   27   10.0    5.0   28.0   10.0    9.0   42.0   15.0   52
x        3.0    1    3.0    2.0    0.0    1.0    2.0    1.0    0.0    4
y       30.0   27   13.0   17.0   16.0    8.0   12.0   35.0   19.0   32
z        0.0    1    1.0    2.0    1.0    2.0    0.0    0.0    1.0    1

In [15]:
DF_j = pd.DataFrame(index = set(letters)).sort_index()
for i in range(len(results_j)):
    DF_j = pd.concat([DF_j, pd.DataFrame(results_j[i], index=[i]).T.sort_index()], axis=1)
DF_j.fillna(0, inplace=True)
DF_j

           0      1      2      3      4      5      6      7      8      9
a      188.0  211.0  231.0  223.0  192.0  191.0  181.0  132.0  161.0  175.0
b       15.0   23.0   17.0   20.0   13.0   20.0    9.0   13.0   11.0   14.0
c       10.0    7.0    7.0   10.0   13.0    6.0    3.0    6.0    7.0    9.0
d       27.0   22.0   37.0   27.0   20.0   18.0   33.0   13.0   27.0   22.0
e       88.0   83.0  100.0   88.0   95.0  102.0   74.0   52.0  104.0   75.0
f        6.0    8.0    6.0    6.0    5.0    5.0    3.0    3.0    7.0    6.0
g       28.0   20.0   23.0   22.0   19.0   21.0   18.0   17.0   13.0   19.0
h       40.0   44.0   61.0   49.0   52.0   49.0   29.0   36.0   41.0   53.0
i      137.0  140.0  188.0  157.0  147.0  154.0  108.0  115.0  122.0  120.0
j        5.0    4.0    2.0    4.0    5.0    3.0    0.0    3.0    1.0    6.0
k       85.0   88.0  114.0   92.0   71.0   88.0   79.0   60.0   73.0   71.0
l        1.0    2.0    0.0    2.0    0.0    2.0    0.0    9.0    0.0    4.0
m       59.0   68.0   65.0   55.0   73.0   60.0   48.0   37.0   56.0   48.0
n       69.0   88.0  102.0   99.0   86.0   94.0   73.0   53.0   72.0   75.0
o      111.0  154.0  165.0  125.0  133.0  147.0  124.0  100.0  106.0  139.0
p        4.0    0.0    0.0    2.0    2.0    2.0    2.0    0.0    0.0    0.0
q        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
r       59.0   81.0   75.0   51.0   83.0   56.0   59.0   44.0   57.0   47.0
s       55.0   57.0   79.0   62.0   61.0   71.0   43.0   47.0   65.0   63.0
space  173.0  192.0  225.0  181.0  186.0  188.0  151.0  136.0  168.0  166.0
t       68.0   92.0   84.0   86.0   88.0  106.0   61.0   62.0   86.0   82.0
u       89.0  105.0  135.0   92.0  118.0  106.0   86.0   74.0  108.0   97.0
v        0.0    1.0    0.0    0.0    0.0    2.0    0.0    0.0    0.0    0.0
w       24.0   24.0   36.0   36.0   28.0   27.0   33.0   22.0   23.0   29.0
x        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
y       16.0   20.0   34.0   16.0   25.0   24.0   20.0   14.0   16.0   17.0
z       11.0   11.0   18.0   11.0   11.0   15.0    4.0    5.0   11.0   13.0

In [16]:
DF_s = pd.DataFrame(index = set(letters)).sort_index()
for i in range(len(results_s)):
    DF_s = pd.concat([DF_s, pd.DataFrame(results_s[i], index=[i]).T.sort_index()], axis=1)
DF_s.fillna(0, inplace=True)
DF_s

           0      1      2      3      4      5      6    7      8      9
a      133.0  135.0   93.0  234.0  228.0  133.0  181.0  177  139.0  242.0
b       15.0    7.0    6.0   20.0   23.0   11.0   16.0    8    8.0   19.0
c       35.0   48.0   35.0   77.0   79.0   60.0   59.0   75   48.0   92.0
d       44.0   51.0   41.0   77.0   59.0   71.0   80.0   73   59.0   89.0
e      145.0  150.0  109.0  214.0  219.0  167.0  202.0  239  151.0  249.0
f       11.0   10.0    5.0   16.0   16.0   14.0   14.0   21   14.0   18.0
g        9.0   13.0    6.0   14.0   20.0    6.0   12.0   12    5.0   19.0
h       11.0    3.0    4.0    5.0    7.0    4.0    4.0   12    6.0   17.0
i       59.0   70.0   43.0   99.0  118.0   72.0   81.0   98   60.0  108.0
j       13.0   12.0    4.0    7.0   12.0    7.0   21.0   11    6.0   14.0
k        0.0    1.0    0.0    0.0    0.0    0.0    1.0    1    0.0    1.0
l       70.0   74.0   40.0  112.0  106.0   69.0  104.0   91   68.0  124.0
m       37.0   33.0   18.0   51.0   49.0   44.0   43.0   44   41.0   58.0
n       64.0   67.0   52.0  111.0  118.0   79.0   80.0  115   75.0  117.0
o       86.0   89.0   83.0  146.0  129.0  102.0  126.0  149   99.0  166.0
p       30.0   37.0   21.0   41.0   39.0   32.0   51.0   57   23.0   62.0
q       10.0   13.0    9.0   15.0   17.0    7.0   13.0   20    7.0   13.0
r       83.0   73.0   70.0  127.0  111.0   89.0  105.0  111   69.0  123.0
s       89.0   90.0   69.0  124.0  121.0   99.0  108.0  128   89.0  149.0
space  214.0  232.0  159.0  343.0  328.0  234.0  299.0  322  211.0  386.0
t       48.0   38.0   41.0   71.0   77.0   47.0   58.0   67   52.0   78.0
u       46.0   51.0   34.0   71.0   68.0   47.0   49.0   66   34.0   80.0
v        3.0   11.0    7.0   17.0    9.0    9.0    9.0   11    6.0   13.0
w        0.0    0.0    0.0    0.0    0.0    0.0    0.0    1    0.0    0.0
x        2.0    5.0    2.0    3.0    6.0    3.0    8.0    3    5.0    3.0
y        7.0   17.0    8.0   13.0   16.0   14.0   18.0    7    8.0   19.0
z        4.0    5.0    1.0    7.0    2.0    1.0    7.0   10    2.0    4.0

In [17]:
KS = 10

In [18]:
DF_e_n = pd.DataFrame(DF_e.sum(axis = 1), columns = ['sum'])
DF_e_n

          sum
a       910.0
b       168.0
c       325.0
d       332.0
e      1594.0
f       286.0
g       264.0
h       714.0
i       838.0
j        21.0
k        56.0
l       438.0
m       310.0
n       876.0
o       975.0
p       253.0
q         8.0
r       814.0
s      1001.0
space  2712.0
t      1212.0
u       403.0
v       140.0
w       234.0
x        17.0
y       209.0
z         9.0

In [19]:
e_sum = sum(DF_e.sum())
theta_e = []
for i in range(DF_e.shape[0]):
    theta_e.append((DF_e_n.iloc[i,0] + alpha)/(e_sum + KS * alpha))
DFtheta_e = pd.DataFrame({'$\theta_{e}$': theta_e})
DFtheta_e

    $\theta_{e}$
0       0.060202
1       0.011141
2       0.021522
3       0.021985
4       0.105428
5       0.018943
6       0.017489
7       0.047243
8       0.055442
9       0.001422
10      0.003736
11      0.028994
12      0.020530
13      0.057954
14      0.064500
15      0.016761
16      0.000562
17      0.053855
18      0.066219
19      0.179351
20      0.080171
21      0.026679
22      0.009290
23      0.015505
24      0.001157
25      0.013852
26      0.000628

In [20]:
DF_j_n = pd.DataFrame(DF_j.sum(axis = 1), columns = ['sum'])
DF_j_n

          sum
a      1885.0
b       155.0
c        78.0
d       246.0
e       861.0
f        55.0
g       200.0
h       454.0
i      1388.0
j        33.0
k       821.0
l        20.0
m       569.0
n       811.0
o      1304.0
p        12.0
q         1.0
r       612.0
s       603.0
space  1766.0
t       815.0
u      1010.0
v         3.0
w       282.0
x         0.0
y       202.0
z       110.0

In [21]:
j_sum = sum(DF_j.sum())
theta_j = []
for i in range(DF_j.shape[0]):
    theta_j.append((DF_j_n.iloc[i,0] + alpha)/(j_sum + KS * alpha))
DFtheta_j = pd.DataFrame({'$\theta_{j}$': theta_j})
DFtheta_j

    $\theta_{j}$
0       0.131844
1       0.010873
2       0.005489
3       0.017237
4       0.060241
5       0.003881
6       0.014020
7       0.031781
8       0.097091
9       0.002342
10      0.057444
11      0.001433
12      0.039822
13      0.056744
14      0.091217
15      0.000874
16      0.000105
17      0.042829
18      0.042200
19      0.123523
20      0.057024
21      0.070659
22      0.000245
23      0.019754
24      0.000035
25      0.014160
26      0.007727

In [22]:
DF_s_n = pd.DataFrame(DF_s.sum(axis = 1), columns = ['sum'])
DF_s_n

          sum
a      1695.0
b       133.0
c       608.0
d       644.0
e      1845.0
f       139.0
g       116.0
h        73.0
i       808.0
j       107.0
k         4.0
l       858.0
m       418.0
n       878.0
o      1175.0
p       393.0
q       124.0
r       961.0
s      1066.0
space  2728.0
t       577.0
u       546.0
v        95.0
w         1.0
x        40.0
y       127.0
z        43.0

In [23]:
s_sum = sum(DF_s.sum())
theta_s = []
for i in range(DF_s.shape[0]):
    theta_s.append((DF_s_n.iloc[i,0] + alpha)/(s_sum + alpha))
DFtheta_s = pd.DataFrame({'$\theta_{s}$': theta_s})
DFtheta_s

    $\theta_{s}$
0       0.104644
1       0.008239
2       0.037556
3       0.039778
4       0.113902
5       0.008610
6       0.007190
7       0.004536
8       0.049900
9       0.006635
10      0.000278
11      0.052986
12      0.025829
13      0.054220
14      0.072551
15      0.024286
16      0.007684
17      0.059343
18      0.065823
19      0.168400
20      0.035643
21      0.033729
22      0.005894
23      0.000093
24      0.002500
25      0.007869
26      0.002685

In [24]:
tmp = ''
with open('HW4/e/e10.txt', 'r') as file:
    for row in file:
        row = row.replace('\n', '')
        tmp += row
    
result={}
for j in tmp:
    result[j] = tmp.count(j)

result['space'] = result.pop(' ')

In [25]:
DFe10 = pd.DataFrame(index = set(letters)).sort_index()
DFe10 = pd.concat([DFe10, pd.DataFrame(result, index=['e10']).T.sort_index()], axis=1)
DFe10.fillna(0, inplace=True)
DFe10

       e10
a      164
b       32
c       53
d       57
e      311
f       55
g       51
h      140
i      140
j        3
k        6
l       85
m       64
n      139
o      182
p       53
q        3
r      141
s      186
space  498
t      225
u       65
v       31
w       47
x        4
y       38
z        2

In [26]:
p_hat_e10 = 0
for i in range(DFtheta_e.shape[0]):
    p_hat_e10 += DFe10.iloc[i,0] * math.log(DFtheta_e.iloc[i,0])

p_hat_e10

-7840.306277915458

In [27]:
p_hat_j10 = 0
for i in range(DFtheta_j.shape[0]):
    p_hat_j10 += DFe10.iloc[i,0] * math.log(DFtheta_j.iloc[i,0])

p_hat_j10

-8769.78420885648

In [28]:
p_hat_s10 = 0
for i in range(DFtheta_s.shape[0]):
    p_hat_s10 += DFe10.iloc[i,0] * math.log(DFtheta_s.iloc[i,0])

p_hat_s10

-8465.056428492404

In [29]:
p_hat_e10 + math.log((1/3)/(1/30))

-7838.003692822464

In [30]:
p_hat_j10 + math.log((1/3)/(1/30))

-8767.481623763486

In [31]:
p_hat_s10 + math.log((1/3)/(1/30))

-8462.75384339941

In [32]:
eng_test = glob('HW4/e/*.txt')
japa_test = glob('HW4/j/*.txt')
span_test = glob('HW4/s/*.txt')

In [33]:
test = eng_test + japa_test + span_test
test

['HW4/e/e16.txt',
 'HW4/e/e10.txt',
 'HW4/e/e13.txt',
 'HW4/e/e18.txt',
 'HW4/e/e12.txt',
 'HW4/e/e14.txt',
 'HW4/e/e19.txt',
 'HW4/e/e17.txt',
 'HW4/e/e11.txt',
 'HW4/e/e15.txt',
 'HW4/j/j19.txt',
 'HW4/j/j10.txt',
 'HW4/j/j11.txt',
 'HW4/j/j13.txt',
 'HW4/j/j17.txt',
 'HW4/j/j18.txt',
 'HW4/j/j12.txt',
 'HW4/j/j16.txt',
 'HW4/j/j14.txt',
 'HW4/j/j15.txt',
 'HW4/s/s10.txt',
 'HW4/s/s19.txt',
 'HW4/s/s17.txt',
 'HW4/s/s15.txt',
 'HW4/s/s16.txt',
 'HW4/s/s11.txt',
 'HW4/s/s12.txt',
 'HW4/s/s13.txt',
 'HW4/s/s18.txt',
 'HW4/s/s14.txt']

In [34]:
DFtheta = [DFtheta_e,DFtheta_j,DFtheta_s]

In [35]:
labels = ['e','j','s']

In [36]:
actual = []
for i in range(len(test)):
    actual.append(labels.index(test[i][4]))
actual

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]

In [42]:
predict = []
for i in range(len(test)):
    tmp = ''
    with open(test[i], 'r') as file:
        for row in file:
            row = row.replace('\n', '')
            tmp += row
    
    result={}
    for j in tmp:
        result[j] = tmp.count(j)
    result['space'] = result.pop(' ')
    
    DFtest = pd.DataFrame(index = set(letters)).sort_index()
    DFtest = pd.concat([DFtest, pd.DataFrame(result, index=['0']).T.sort_index()], axis=1)
    DFtest.fillna(0, inplace=True)
    
    p_hat = []
    for j in range(3):
        p_hat_test = 0
        for k in range(DFtheta_e.shape[0]):
            p_hat_test += DFtest.iloc[k,0] * math.log(DFtheta[j].iloc[k,0])
        p_hat.append(p_hat_test)
    
    predict.append(p_hat.index(max(p_hat)))

In [43]:
c_mat = np.zeros((3,3))
for i in range(len(predict)):
    c_mat[predict[i], actual[i]] += 1

c_DF = pd.DataFrame(c_mat, index = ['English', 'Japanese', 'Spanish'], columns = ['English', 'Japanese', 'Spanish'])
c_DF.columns.name = 'Predicted\Actual'
c_DF

Predicted\Actual  English  Japanese  Spanish
English              10.0       0.0      0.0
Japanese              0.0      10.0      0.0
Spanish               0.0       0.0     10.0

In [44]:
from random import shuffle

In [48]:
def shuffle_str(s):
    str_list = list(s)
    shuffle(str_list)
    return ''.join(str_list)

In [49]:
predict = []
for i in range(len(test)):
    tmp = ''
    with open(test[i], 'r') as file:
        for row in file:
            row = row.replace('\n', '')
            tmp += row
    
    tmp = shuffle_str(tmp)
    
    result={}
    for j in tmp:
        result[j] = tmp.count(j)
    result['space'] = result.pop(' ')
    
    DFtest = pd.DataFrame(index = set(letters)).sort_index()
    DFtest = pd.concat([DFtest, pd.DataFrame(result, index=['0']).T.sort_index()], axis=1)
    DFtest.fillna(0, inplace=True)
    
    p_hat = []
    for j in range(3):
        p_hat_test = 0
        for k in range(DFtheta_e.shape[0]):
            p_hat_test += DFtest.iloc[k,0] * math.log(DFtheta[j].iloc[k,0])
        p_hat.append(p_hat_test)
    
    predict.append(p_hat.index(max(p_hat)))

In [50]:
c_mat = np.zeros((3,3))
for i in range(len(predict)):
    c_mat[predict[i], actual[i]] += 1

c_DF = pd.DataFrame(c_mat, index = ['English', 'Japanese', 'Spanish'], columns = ['English', 'Japanese', 'Spanish'])
c_DF.columns.name = 'Predicted\Actual'
c_DF

Predicted\Actual  English  Japanese  Spanish
English              10.0       0.0      0.0
Japanese              0.0      10.0      0.0
Spanish               0.0       0.0     10.0